@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

@import "tailwindcss";

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --color-primary: oklch(75% 0.2 30);
  --color-secondary: oklch(75% 0.2 30);
  --font-poppins: "Poppins", sans-serif;
  --font-koulen: "Koulen", cursive;
  --font-lakki: "Lakki Reddty", cursive;
}
