@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
}
:root{
  --skyline:cyan;
}
@theme inline{
  --font-lakki:"Lakki Reddy", cursive;
  --font-poppins:"Poppins",cursive;
  --font-koulen:"Koulen",cursive;
  --font-Big-Shoulders-Display:"Big Shoulders Display",cursive;
  --font-kumar-One:"Kumar One",cursive;
  --font-krona-One:"Krona One",cursive;
  --font-kadwa:"Kadwa",cursive;
  --font-kufam:"Kufam",cursive;
  --color-skyline:var(--skyline);
}
